{% extends "auth/base.jinja" %}

{% block main %}
<div class="columns is-centered">
  <div class="column is-4">
    <div class="logo">Flash</div>
    <div class="box">
      <h1>Reset your password</h1>
      <div class="login-form">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input type="email" class="input" name="{{ form.email.name }}" id="{{ form.email.id }}">
            </div>
          </div>
          <div class="field submit-field">
            <div class="control">
              <button type="submit" class="button is-link">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
