# Required environment variables

# Basics
SECRET_KEY=
STRIPE_PUB_KEY=
STRIPE_SECRET_KEY=
APP_ADMIN=admin@plinth.io
APP_MAIL_SUBJECT_PREFIX=
APP_MAIL_SENDER=Plinth <admin@plinth.io>

# SQLAlchemy
SQLALCHEMY_DATABASE_URI=postgres://db
SQLALCHEMY_RECORD_QUERIES=True
SQLALCHEMY_TRACK_MODIFICATIONS=False

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=mailtrap.io
MAIL_PORT=465
MAIL_USE_TLS=True

# Extras
SENTRY_DSN=

# Celery
BROKER_URL=amqp://rabbit:5672//
CELERY_RESULT_BACKEND=amqp://rabbit:5672//

# Docker variables
POSTGRES_USER=app
POSTGRES_PASSWORD=
