<p>Hi {{ user.name }},</p>
<p>Thanks for signing up for Flash! Please click the link below to confirm your email.</p>
<p><a href="{{ token_url }}">{{ token_url }}</a></p>
<p>Thanks,</p>
<p>The Flash Team</p>
