{% extends "base.jinja" %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
  </li>
</ul>
{% endblock %}

{% block sidebar %}
{% endblock %}
